
## Practise Problem 2.1

Write Python algebraic expressions corresponding to the following statements:

In [1]:
# (a) The sum of the first five positive integers

1+2+3+4+5

15

In [2]:
# (b) The average age of Sara (age 23), Mark (age 19), and Fatima (age 31)

(23+19+31)/3

24.333333333333332

In [3]:
# (c) The number of times 73 goes into 403

403//73

5

In [4]:
# (d) The remainder when 403 is divided by 73

403%73

38

In [5]:
# (e) 2 to the 10th power

2**10

1024

In [6]:
# (f) The absolute value of the difference between Sara’s height (54 inches) and Mark’s height (57 inches)

abs(54-57)

3

In [7]:
# (g) The lowest price among the following prices: $34.99, $29.95, and $31.50

min(34.99, 29.95, 31.50)

29.95

## Practise Problem 2.2

Translate the following statements into Python Boolean expressions and evaluate them:

In [8]:
# (a) The sum of 2 and 2 is less than 4.

2+2<4

False

In [9]:
# (b) The value of 7 // 3 is equal to 1 + 1.

7//3==(1+1)

True

In [10]:
# (c) The sum of 3 squared and 4 squared is equal to 25.

(3**2)+(4**2)==25

True

In [11]:
# (d) The sum of 2, 4, and 6 is greater than 12.

2+4+6 > 12

False

In [12]:
# (e) 1387 is divisible by 19.

1387%19 == 0

True

In [13]:
# (f) 31 is even. (Hint: what does the remainder when you divide by 2 tell you?)

31%2==0

False

In [14]:
# (g) The lowest price among $34.99, $29.95, and $31.50 is less than $30.00.

min(34.99,29.95,31.50)<30.00

True

## Practise Problem 2.3

Write Python statements that correspond to the actions below and execute them:

In [15]:
# (a) Assign integer value 3 to variable a.

a=3
a

3

In [16]:
# (b) Assign 4 to variable b.

b=4
b

4

In [17]:
# (c) Assign to variable c the value of expression a * a + b * b.

c=a*a+b*b
c

25

## Practise Problem 2.4

Start by executing the assignment statements:

s1 = 'ant'

s2 = 'bat'

s3 = 'cod'

In [19]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'

Write Python expressions using s1, s2, and s3 and operators + and * that evaluate to:

In [20]:
# (a) 'ant bat cod'

s1+" "+s2+" "+s3

'ant bat cod'

In [21]:
# (b) 'ant ant ant ant ant ant ant ant ant ant '

(s1+" ")*7

'ant ant ant ant ant ant ant '

In [22]:
# (c) 'ant bat bat cod cod cod'

s1+" "+ (s2+" ")*2 + (s3+" ")*3

'ant bat bat cod cod cod '

In [23]:
# (d) 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

(s1+" "+s2+" ")*7

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [24]:
# (e) 'batbatcod batbatcod batbatcod batbatcod batbatcod '

(s2+s2+s3+" ")*5

'batbatcod batbatcod batbatcod batbatcod batbatcod '

## Practise Problem 2.5

Start by executing the assignment:

s = '0123456789'

In [25]:
s = '0123456789'

Now write expressions using string s and the indexing operator that evaluate to:

In [26]:
# (a) '0'

s[0]

'0'

In [27]:
# (b) '1'

s[1]

'1'

In [28]:
# (c) '6'

s[6]

'6'

In [29]:
# (d) '8'

s[-2]

'8'

In [30]:
# (e) '9'

s[-1]

'9'


## Practise Problem 2.6

First execute the assignment

words = [ 'bat' , 'ball' , 'barn' , 'basket' , 'badminton' ]

In [31]:
words = [ 'bat' , 'ball' , 'barn' , 'basket' , 'badminton' ]

Now write two Python expressions that evaluate to the first and last, respectively, word in
words, in dictionary order.

In [32]:
words.sort()
print(words[0])
print(words[-1])

badminton
bat

## Practise Problem 2.7

Given the list of student homework grades

grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]

In [33]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]

write:

In [34]:
# (a) An expression that evaluates to the number of 7 grades

grades.count(7)

2

In [35]:
# (b) A statement that changes the last grade to 4

grades[-1]=4
grades

[9, 7, 7, 10, 3, 9, 6, 6, 4]

In [36]:
# (c) An expression that evaluates to the maximum grade

max(grades)

10

In [37]:
# (d) A statement that sorts the list grades
grades.sort()
grades

[3, 4, 6, 6, 7, 7, 9, 9, 10]

In [38]:
# (e) An expression that evaluates to the average grade

grades=[9, 7, 7, 10, 3, 9, 6, 6, 2]
average = sum(grades)/len(grades)
average

6.555555555555555

## Practise Problem 2.8

In what order are the operators in the following expressions evaluated?

In [39]:
# (a) 2 + 3 == 4 or a >= 5

((2 + 3) == 4) or (a >= 5)

False

In [ ]:
# (b) lst[1] * -3 < -10 == 0

(((lst[1]) * (-3)) < -10) == 0

In [ ]:
# (c) (lst[1] * -3 < -10) in [0, True]

(((lst[1]) * (-3)) < -10) in [0, True]

In [40]:
# (d) 2 * 3**2

2 * (3**2)

18

In [41]:
# (e) 4 / 2 in [1, 2, 3]

(4 / 2) in [1, 2, 3]

True

## Practise Problem 2.9

What is the type of the object that these expressions evaluate to?

In [42]:
# (a) False + False

p= False + False
type(p)

int

In [43]:
# (b) 2 * 3**2.0

q= 2 * 3**2.0
type(q)

float

In [44]:
# (c) 4 // 2 + 4 % 2

r= 4 // 2 + 4 % 2
type(r)

int

In [45]:
# (d) 2 + 3 == 4 or 5 >= 5

s= 2 + 3 == 4 or 5 >= 5
type(s)

bool

## Practise Problem 2.10

Write Python expressions corresponding to the following:

In [46]:
# (a) The length of the hypotenuse in a right triangle whose other two sides have lengths a and b

import math
a=3
b=4
math.sqrt(a**2 + b**2)

5.0

In [47]:
# (b) The value of the expression that evaluates whether the length of the above hypotenuse is 5

math.sqrt(a**2 + b**2)==5

True

In [48]:
# (c) The area of a disk of radius a

a=5
math.pi*a*a

78.53981633974483

In [49]:
# (d) The value of the Boolean expression that checks whether a point with
# coordinates x and y is inside a circle with center (a, b) and radius r

#Point:
(x,y)=2,3
#Center:
(a,b)=0,0
#Radius:
r=2

(x - a)**2 + (y - b)**2 < r**2

False

In [1]:
min('a','b','d','z','e')

'a'

In [2]:
max('a','b','d','z','e')

'z'

In [3]:
max('cat', 'lion','zoo','hen')

'zoo'

## Exercise 2.11

Write Python expressions corresponding to these statements:

In [4]:
# (a) The sum of negative integers −7 through −1

sum=-7+-6+-5+-4+-3+-2+-1
print("Sum =",sum)

Sum = -28

In [7]:
# (b) The average age of a group of kids at a summer camp given than 17 are 9 years old, 24 are 10 years old,
#     21 are 11 years old, and 27 are 12 years

avg=(17*9 + 24*10 + 21*11 + 27*12)/(17 + 24 + 21 + 27)
print('Average age is', round(avg,2))

Average age is 10.65

In [8]:
# (c) 2 to the power −20

2**-20

9.5367431640625e-07

In [10]:
# (d) The number of times 61 goes into 4356

4356 // 61

71

In [12]:
# (e) The remainder when 4365 is divided by 61

4356 % 61

25

## Exercise 2.12

Start by evaluating, in the interactive shell, the assignment:

In [13]:
s1 = '-'
s2 = '+'

Now write string expressions involving s1 and s2 and string operators + and * that evaluate
to:

In [14]:
# (a) '-+'

s1+s2

'-+'

In [15]:
# (b) '-+-'

s1+s2+s1

'-+-'

In [23]:
# (c) '+--'

s2 + s1*2

'+--'

In [22]:
# (d) '+--+--'

(s2 + s1*2) * 2

'+--+--'

In [19]:
# (e) '+--+--+--+--+--+--+--+--+--+--+'

(s2 + s1*2)*10 + s2

'+--+--+--+--+--+--+--+--+--+--+'

In [21]:
# (f) '+-+++--+-+++--+-+++--+-+++--+-+++--'

(s2 + s1 + s2*3 + s1*2) * 5

'+-+++--+-+++--+-+++--+-+++--+-+++--'

## Exercise 2.13

Start by running, in the shell, the following assignment statement:

In [24]:
s = 'abcdefghijklmnopqrstuvwxyz'

Now write expressions using string s and the indexing operator that evaluate to 'a', 'c',
'z', 'y', and 'q'.

In [25]:
print(s[0])
print(s[2])
print(s[-1])
print(s[-2])
print(s[-10])

a
c
z
y
q

## Exercise 2.14

Start by executing

In [26]:
s = 'goodbye'

Then write a Boolean expression that checks whether:

In [27]:
# (a) The first character of string s is 'g'

s[0]=='g'

True

In [28]:
# (b) The seventh character of s is 'g'

s[6]=='g'

False

In [29]:
# (c) The first two characters of s are 'g' and 'a'

s[0]=='g' and s[1]=='a'

False

In [30]:
# (d) The next to last character of s is 'x'

s[-2]=='x'

False

In [45]:
# (e) The middle character of s is 'd'

s[3]=='d'

True

In [32]:
# (f) The first and last characters of string s are equal

s[0]==s[-1]

False

In [44]:
# (g) The last four characters of string s match the string 'tion'

s[-4:] =='tion'

False

Note: These seven statements should evaluate to True, False, False, False, True, False,
and False, respectively.

## Exercise 2.15

Write Python expressions corresponding to these statements:

In [48]:
# (a) The number of characters in the word "anachronistically" is 1 more than
#     the number of characters in the word "counterintuitive."

len("anachronistically")==(len("counterintuitive.") + 1)

False

In [50]:
# (b) The word "misinterpretation" appears earlier in the dictionary than the word "misrepresentation."

"misinterpretation"<"misrepresentation."

True

In [52]:
# (c) The letter "e" does not appear in the word "floccinaucinihilipilification."

'e' not in "floccinaucinihilipilification."

True

In [55]:
# (d) The number of characters in the word "counterrevolution" is equal to the sum of the
#     number of characters in words "counter" and "resolution."

len("counterrevolution")==(len("counter")+len("resolution"))

True

## Exercise 2.16

Write the corresponding Python assignment statements:

In [56]:
# (a) Assign 6 to variable a and 7 to variable b.

a=6
b=7

In [58]:
# (b) Assign to variable c the average of variables a and b.

c=(a+b)/2
c

6.5

In [61]:
# (c) Assign to variable inventory the list containing strings 'paper', 'staples', and 'pencils'.

inventory=['paper', 'staples','pencils']
inventory

['paper', 'staples', 'pencils']

In [64]:
# (d) Assign to variables first, middle and last the strings 'John', 'Fitzgerald', and 'Kennedy'.

(first,middle,last)='John','Fitzgerald','Kennedy'

In [65]:
# (e) Assign to variable fullname the concatenation of string variables first, middle,
#     and last. Make sure you incorporate blank spaces appropriately.

fullname = first + ' ' + middle + ' ' + last
fullname

'John Fitzgerald Kennedy'

## Exercise 2.17

Using variables defined in Exercise 2.16, write Boolean expressions corresponding to the following logical statements and evaluate the expressions:

In [67]:
# (a) The sum of 17 and −9 is less than 10.

17 + (-9) < 10

True

In [68]:
# (b) The length of list inventory is more than five times the length of string fullname.

len(inventory)>5*len(fullname)

False

In [70]:
# (c) c is no more than 24.
c <= 24

True

In [71]:
# (d) 6.75 is between the values of integers a and b.

a<6.75<b

True

In [74]:
# (e) The length of string middle is larger than the length of string first and smaller than the length string last.

len(first) < len(middle) < len(last)

False

In [76]:
# (f) Either the list inventory is empty or it has more than 10 objects in it.

(len(inventory)==0) or (len(inventory)>10)

False

## Exercise 2.18

Write Python statements corresponding to the following:

In [79]:
# (a) Assign to variable flowers a list containing strings 'rose', 'bougainvillea',
#    'yucca', 'marigold', 'daylilly', and 'lilly of the valley'.

flowers=['rose','bougainvillea','yucca','marigold','daylilly','lilly of the valley']
flowers

['rose',
 'bougainvillea',
 'yucca',
 'marigold',
 'daylilly',
 'lilly of the valley']

In [80]:
# (b) Write a Boolean expression that evaluates to True if string 'potato' is in list flowers, and evaluate the expression.

"potato" in flowers

False

In [87]:
# (c) Assign to list thorny the sublist consisting of the first three objects in list flowers.

thorny=flowers[0:3]
thorny

['rose', 'bougainvillea', 'yucca']

In [88]:
# (d) Assign to list poisonous the sublist consisting of just the last object of list flowers.

poisonous=[flowers[-1]]
poisonous

['lilly of the valley']

In [90]:
# (e) Assign to list dangerous the concatenation of lists thorny and poisonous.

dangerous = thorny + poisonous
dangerous

['rose', 'bougainvillea', 'yucca', 'lilly of the valley']

## Exercise 2.19

Start by assigning to variable answers a list containing an arbitrary sequence of strings 'Y' and 'N'. For example:

answers = [ 'Y' , 'N' , 'N' , 'Y' , 'N' , 'Y' , 'Y' , 'Y' , 'N' , 'N' , 'N' ]

In [93]:
answers = ['Y','N','N','Y','N','Y','Y','Y','N','N','N']

Write Python statements corresponding to the following:

In [96]:
# (a) Assign to variable numYes the number of occurrences of 'Y' in list answers.

numYes = answers.count('Y')
numYes

5

In [97]:
# (b) Assign to variable numNo the number of occurrences of 'N' in list answers.

numNo = answers.count('N')
numNo

6

In [101]:
# (c) Assign to variable percentYes the percentage of strings in answers that are 'Y'.

percentYes=(numYes/(numYes+numNo))*100
percentYes

45.45454545454545

In [103]:
# (d) Sort the list answers.

answers.sort()
answers

['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

In [104]:
# (e) Assign to variable f the index of the first occurrence of 'Y' in sorted list answers.

f= answers.index('Y')
f

6

## Exercise 2.20

Write an expression involving a three-letter string s that evaluates to a string whose characters are the characters of s in reverse order. If s is 'top', the expression should evaluate to 'pot'.

In [106]:
s='top'
s_reverse=s[::-1]
s_reverse

'pot'

## Exercise 2.21

Write an expression involving strings s and t containing the last name and the first name, respectively, of a person that evaluates to the person’s initials. If the two strings contained the first and last name of this book’s author, the expression would evaluate to 'LP'.

In [107]:
s= 'Ljubomir'
t= 'Perkovic'
initials= s[0]+t[0]
initials

'LP'

## Exercise 2.22

The range of a list of numbers is the largest difference between any two numbers in the list. Write a Python expression that computes the range of a list of numbers lst. If the list lst is, say, [3, 7, -2, 12], the expression should evaluate to 14 (the difference between 12 and −2).

In [108]:
list=[3,7,-2,12]
difference = max(list)-min(list)
difference

14

## Exercise 2.23

Start by assigning to variables monthsL and monthsT a list and a tuple, respectively, both containing strings 'Jan', 'Feb', 'Mar', and 'May', in that order. Then attempt the following with both containers:

In [169]:
monthsL=['Jan', 'Feb', 'Mar','May']
monthsT=('Jan', 'Feb', 'Mar','May')

Note: when attempting these on tuple monthsT you should expect errors

In [170]:
# (a) Insert string 'Apr' between 'Mar' and 'May'.

monthsL.insert(3, 'Apr')
print(monthsL)

monthsT.insert(3, 'Apr')
print(monthsT)
## tuples are immutable

['Jan', 'Feb', 'Mar', 'Apr', 'May']

AttributeError: 'tuple' object has no attribute 'insert'

In [171]:
# b) Append string 'Jun'.

monthsL.append('Jun')
print(monthsL)

monthsT.append('Jun')
print(monthsT)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

AttributeError: 'tuple' object has no attribute 'append'

In [172]:
# (c) Pop the container.

print(monthsL.pop(3))
print(monthsT.pop(3))

Apr

AttributeError: 'tuple' object has no attribute 'pop'

In [173]:
# (d) Remove the second item in the container.

monthsL.remove('Feb')
print(monthsL)
monthsT.remove('Feb')
print(monthsT)

['Jan', 'Mar', 'May', 'Jun']

AttributeError: 'tuple' object has no attribute 'remove'

In [174]:
# (e) Reverse the order of items in the container.

monthsL.reverse()
print(monthsL)

monthsT.reverse()
print(monthsL)

['Jun', 'May', 'Mar', 'Jan']

AttributeError: 'tuple' object has no attribute 'reverse'

In [179]:
# (f) Sort the container.

monthsL.sort()
monthsL
##'tuple' object has no attribute 'sort'

['Jan', 'Jun', 'Mar', 'May']

## Exercise 2.24

Start by assigning to variable grades a list containing an arbitrary sequence of grades (strings) 'A', 'B', 'C', 'D', and 'F'. For example:

grades = [ 'B' , 'B' , 'F' , 'C' , 'B' , 'A' , 'A' , 'D' , 'C' , 'D' , 'A' , 'A' , 'B' ]

In [21]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']

Write a sequence of Python statements that ultimately produce a list count that contains the numbers of occurrences of each grade in list grades in alphabetic order. For the given example, the list count should be [4, 4, 2, 2, 1].

In [11]:
occurrences=[grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('F')]
occurrences

[4, 4, 2, 2, 1]

## Exercise 2.25

Repeat Problem 2.24 with the following modification: variable grades is defined to be of type tuple rather than of type list:

grades = [ 'B' , 'B' , 'F' , 'C' , 'B' , 'A' , 'A' , 'D' , 'C' , 'D' , 'A' , 'A' , 'B' ]

In [10]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']

Variable count should still refer to a list.

In [12]:
occurrences=(grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('F'))
occurrences

(4, 4, 2, 2, 1)

## Exercise 2.26

A dartboard of radius 10 and the wall it is hanging on are represented using the two- dimensional coordinate system, with the board’s center at coordinate (0, 0). Variables x and y store the x- and y-coordinate of a dart hit. Write an expression using variables x and y that evaluates to True if the dart hits (is within) the dartboard, and evaluate the expression for these dart coordinates:

In [16]:
# (a) (0, 0)

x=0
y=0
x**2 + y**2 < 100

True

In [17]:
# (b) (10, 10)

x=10
y=10
x**2 + y**2 < 100

False

In [18]:
# (c) (6, −6)

x=6
y=-6
x**2 + y**2 < 100

True

In [19]:
# (d) (−7, 8)
x=-7
y=8
x**2 + y**2 < 100

False

## Exercise 2.27

A ladder put up right against a wall will fall over unless put up at a certain angle less than 90 degrees. Given variables length and angle storing the length of the ladder and the angle that it forms with the ground as it leans against the wall, write a Python expression involving length and angle that computes the height reached by the ladder. Evaluate the expression for these values of length and angle:

In [19]:
# (a) 16 feet and 75 degrees

length= 16
degrees= 75

radians=math.pi*degrees/180
height= length*math.sin(radians)
height

15.454813220625093

In [20]:
# (b) 20 feet and 0 degrees

length= 20
degrees= 0

radians=math.pi*degrees/180
height= length*math.sin(radians)
height

0.0

In [22]:
# (c) 24 feet and 45 degrees

length= 24
degrees= 45

radians=math.pi*degrees/180
height= length*math.sin(radians)
height

16.97056274847714

In [92]:
# (d) 24 feet and 80 degrees

length= 24
degrees= 80

radians=math.pi*degrees/180
height= length*math.sin(radians)
height

23.63538607229299

Note: You will need to use the trig formula:

height = length ∗ sin(angle)

The math module sin() function takes its input in radians. You will thus need to convert the angle given in degrees to the angle given in radians using:

radians = (π ∗ degrees)/180

## Exercise 2.28

Write the relevant Python expression or statement, involving a list of numbers lst and using list operators and methods for these specifications:

Note: If a list has even length, then the middle element is defined to be the rightmost of the two elements in the middle of the list.

In [184]:
# (a) An expression that evaluates to the index of the middle element of lst

list1= [1,2,3,4,5] #list with odd number of elements

index1= int(len(list1)/2)
print('Index of middle element of list1 is',index1)

list2= [1,2,3,4,5,6,7,8] #list with even number of elements 
ind1=int(len(list2)/2)-1
ind2=int(len(list2)/2)
index2=(ind1, ind2)
print('Index of middle elements of list2 are',index2)

Index of middle element of list1 is 2
Index of middle elements of list2 are (3, 4)

(b) An expression that evaluates to the middle element of lst

In [187]:
# (b) An expression that evaluates to the middle element of lst

lst1= [1,2,3,4,5,6,7]# list with odd number of elements

middle_index= int(len(lst1)/2)
print('Middle element of lst1 is', lst1[middle_index])

lst2=[1,2,3,4,5,6,7,8,9,10]# list with even number of elements
middle1_index=int(len(lst2)/2)-1
middle2_index=int(len(lst2)/2)
print('Middle elements of lst2 are', lst2[(middle1_index) : middle2_index+1])

Middle element of lst1 is 4
Middle elements of lst2 are [5, 6]

In [195]:
# (c) A statement that sorts the list lst in descending order

lst=['i','o','a','u','e']
lst.sort()
lst.reverse()
lst

['u', 'o', 'i', 'e', 'a']

In [212]:
# (d) A statement that removes the first number of list lst and puts it at the end

lst = [1,2,3,4,5]
lst.append(lst.pop(0))
lst

[2, 3, 4, 5, 1]

## Exercise 2.29

Add one or more pairs of parentheses to each expression so that it evaluates to True.

In [227]:
# (a) 0 == 1 == 2

0 == (1 == 2)

True

In [225]:
# (b) 2 + 3 == 4 + 5 == 7

2 + (3 == 4) + 5 == 7

True

In [217]:
# (c) 1 < -1 == 3 > 4

(1 < -1) == (3 > 4)

True

## Exercise 2.30

Using an example of your own, explicitly convert some string to a list. Describe, in your own words, the behavior of the list constructor on a string input.

In [240]:
str1 = "Geeks-for-Geeks"
li= list(str1.split("-"))
print(li)

str2= 'flower'
li2= list(str2)
print(li2)

['Geeks', 'for', 'Geeks']
['f', 'l', 'o', 'w', 'e', 'r']